html {
  height: 100%;
}

/* base settings for the body of the page, with mobile first in mind*/
body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 16px;
  display: flex;
  flex-flow: column;
  column-gap:20px;
  color: #203354;
}

/* type selectors */
h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18.72px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 13.28px;
}

header {
  width: 100%;
  background-color: #005D82;
  padding-bottom: 5px;
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

header h1 {
  background-color:#B8C7F1;
  color: #005D82;
  padding: 15px;
  margin-bottom: 3px;
}

nav {
  align-items: center;
}

li {
  text-decoration: none;
  font-size: x-large;
  margin: 8px;
  width: 100%;
  text-align: center;
}

a {
  text-align: none;
  text-decoration: none;
  color: #B8C7F1;
}

a:hover {
  border-bottom: 3px solid #B8C7F1
}

p {
  margin: 10px 20px 10px 20px;
}

figure {
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
}


/* setting up banner hero image with overlaid text */
.hero-image {
  height: 200px;
  width: 100%;
  background-image: url("../images/snowy-trees-unsplash.jpg");
  background-position: center 30%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;  
  
}
/* class set for text subtitle */
.hero-text {
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5px;
  background-color:#B8C7F1;
  color: #005D82;
  border-radius: 20px;
  max-width: 40%;
  text-align: center;
}

.title-section h3 {
  font-size: 32px;
}
.content-about-me {
  border-top: 2px solid;
  margin: 10px;
}

.portfolio-links {
  display: flex;
  border-top: 2px solid;
}

.main-feature {
  position: relative;
  width: 85%;
  height: 33%;
 
}

.main-feature img {
  max-width: 90vmax;
  max-height: 90vh;
  padding: 10px;
}

.main-feature h4, .main-feature p {
  position: absolute;
  bottom: 10%;
  left: 20%;
}
.features {
width: 50%;

}
